div.css-ocqkz7.e1tzin5v4 {
    background-color: #95ebf5;
    border: 1px solid #09092A;
    padding: 5% 5% 5% 5%;
    padding: 5% 5% 5% 5%;
    border-radius: 10px;
}

label.css-1rh8hwn.e16fv1kl2 {
    font-family:'Times New Roman', serif;
    font-weight: 800;
    color: rgb(187, 19, 19);
    line-height: 2;
    font-size: large;
}

div.css-znku1x.e16nr0p33 {
    font-family: 'Segoe UI';
    color:darkred;
    font-size: xx-large;

}

section.main.css-1v3fvcr.egzxvld3 {
    background-color: #fbfcfd;
}